.ff_home {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.ff_planets {
  display: flex;
  width: 100%;
  height: fit-content;
  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: center;
  z-index: 2;
}

.ff_planets div {
  flex-shrink: 0;
}
.ff_planet {
  color: white;
  font-weight: bold;
}

.ff_planet_card {
  width: 150px;
  height: 200px;
  margin: 20px;
  background-color: #3c4c72;
  opacity: 0.8;
  -webkit-box-shadow: -2px 6px 39px -4px rgba(235, 217, 235, 0.47);
  -moz-box-shadow: -2px 6px 39px -4px rgba(235, 217, 235, 0.47);
  box-shadow: -2px 6px 39px -4px rgba(235, 217, 235, 0.47);
}
.ff_planet_card.add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ff_planet_card img {
  max-width: 100%;
}
